<section class="container-fluid">
  <div id="img-holder" class="row"></div>
  <div class="container">
    <div class="row justify-content-center">
      <form class="form col-lg-4 px-5 mb-5 border rounded bg-light bg-gradient bg-opacity-50" 
        #studentenroll="ngForm" (ngSubmit)="Enroll()" style="margin-top: -66rem">
        <img src="../../../assets/img/enrollmentform-banner.jpg" class="img-fluid img-animate pt-2" alt="">
        <p class="h3 text-center fw-bold py-4">{{ title }}</p>

        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Name" 
            [(ngModel)]="enrollstudent.name" name="name" #name="ngModel" required />
        </div>

        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" 
            [(ngModel)]="enrollstudent.email" name="email" #email="ngModel" 
            [class.is-invalid]="email.invalid && email.touched" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required />
          <div class="ps-2 text-secondary" style="font-size: 14px;" [class.d-none]="email.valid || email.untouched">
            <small>Enter a valid email</small>
          </div>
        </div>

        <div class="mb-3">
          <input type="tel" class="form-control" placeholder="Phone" 
            [(ngModel)]="enrollstudent.phone" name="phone" #phone="ngModel" 
            [class.is-invalid]="phone.invalid && phone.touched" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" required />
          <div class="ps-2 text-secondary" style="font-size: 14px;" [class.d-none]="phone.valid || phone.untouched">
            <small>Enter a valid phone</small>
          </div>  
        </div>            

        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Address" 
            [(ngModel)]="enrollstudent.address" name="address" #address="ngModel" required />
        </div>

        <div class="mb-3">
          <select class="form-select text-secondary" 
            [(ngModel)]="enrollstudent.qualification" name="qualification" #qualification="ngModel" required>
            <option selected disabled value="">Select Highest Qualification</option>
            <option value="BE/ BTech">BE/ BTech</option>
            <option value="BSc/ BCA">BSc/ BCA</option>
            <option value="Diploma-CS">Diploma-CS</option>
            <option value="ME/ MTech">ME/ MTech</option>
            <option value="MSc/ MCA">MSc/ MCA</option>
          </select>
        </div>

        <div class="mb-3">
          <input type="number" min="1950" max="2023" class="form-control" placeholder="Passout Year" 
            [(ngModel)]="enrollstudent.passout" name="passout" #passout="ngModel" required />
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Skill Set" 
            [(ngModel)]="enrollstudent.skillset" name="skillset" #skillset="ngModel" required />
        </div>

        <div class="mb-3">
          <select class="form-select text-secondary" 
              [(ngModel)]="enrollstudent.employmentStatus" name="employmentStatus" #employmentStatus="ngModel" required>
              <option selected disabled value="">Select Employment Status</option>
              <option value="Student">Student</option>
              <option value="Employed">Employed</option>
              <option value="Unemployed">Unemployed</option>
          </select>
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Technology Training" 
            [(ngModel)]="enrollstudent.technologyTraining" name="technologyTraining" #technologyTraining="ngModel" required />
        </div>

        <div class="mb-3">
          <input type="number" min="1950" max="2023" class="form-control" placeholder="Year" 
            [(ngModel)]="enrollstudent.year" name="year" #year="ngModel" required />
        </div>

        <div class="mb-3">
          <select class="form-select text-secondary"
            [(ngModel)]="enrollstudent.course" name="course" #course="ngModel" required>
            <option selected disabled value="">Select Course</option>
            <option value="Data Science & Machine Learning">Data Science & Machine Learning</option>
            <option value="Full Stack Development - MEAN">Full Stack Development - MEAN</option>
            <option value="Software Testing">Software Testing</option>
            <option value="Data Science & Analytics">Data Science & Analytics</option>
            <option value="Robotic Process Automation">Robotic Process Automation</option>
            <option value="Cyber Security Analyst">Cyber Security Analyst</option>
            <option value="Digital Marketing">Digital Marketing</option>
            <option value="Full Stack Development - MERN">Full Stack Development - MERN</option>
          </select>
        </div>

        <div class="mb-3">
            <input type="number" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" 
            *ngIf="enrollstudent.course == ''" value="" readonly />
            <input type="text" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" *ngIf="enrollstudent.course == 'Data Science & Machine Learning'"
            placeholder="30000" value="30000" readonly />
            <input type="text" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" *ngIf="enrollstudent.course == 'Full Stack Development - MEAN'"
            placeholder="25000" value="25000" readonly />
            <input type="text" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" *ngIf="enrollstudent.course == 'Software Testing'"
            placeholder="20000" value="20000" readonly />
            <input type="text" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" *ngIf="enrollstudent.course == 'Data Science & Analytics'"
            placeholder="30000" value="30000" readonly />
            <input type="text" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" *ngIf="enrollstudent.course == 'Robotic Process Automation'"
            placeholder="28000" value="28000" readonly />
            <input type="text" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" *ngIf="enrollstudent.course == 'Cyber Security Analyst'"
            placeholder="24000" value="24000" readonly />
            <input type="text" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" *ngIf="enrollstudent.course == 'Digital Marketing'"
            placeholder="22000" value="22000" readonly />
            <input type="text" class="form-control" placeholder="Course Fee" 
            [(ngModel)]="enrollstudent.fee" name="fee" #fee="ngModel" *ngIf="enrollstudent.course == 'Full Stack Development - MERN'"
            placeholder="25000" value="25000" readonly />
        </div>

        <div class="mb-4">
          <input type="file" class="form-control" placeholder="Upload Photo" 
            [(ngModel)]="enrollstudent.image" name="image" #image="ngModel" required/>
        </div>

        <div class="mb-4">
          <input class="btn btn-sm btn-primary px-3" type="submit" value="Register" [disabled]="studentenroll.form.invalid">
        </div>
      </form>


      <!--           
          <*ngIf="enrollstudent.course == ''" value="20000" />
          <*ngIf="enrollstudent.course == ''" value="" />
          <*ngIf="enrollstudent.course == ''" value="" />
        </div> -->
        
      <!-- </form> -->
    </div>
  </div>        
</section>