#stripes{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    position: relative;
    height: 24rem;
}
  
#stripes span{
    height: 40px;
    z-index: -1;
    position: relative;
    overflow: hidden;
}
  
#stripeSpan1{
    width: 33.33333%;
    left: -16.66666%;
    top: 40px;
    background: #4c29ff;
}
  
#stripeSpan2{
    width: 33.333333%;
    right: auto;
    left: 16.66666%;
    bottom: auto;
    background: #2be7ff;
}
  
#stripeSpan3{
    width: 33.333333%;
    bottom: auto;
    left: 50%;
    right: auto;
    background: #a1ffc8;
}
  
#stripeSpan4{
    background: #25ddf5;
    top: 380px;
    right: -16.66666%;
    width: calc(100% / 3);
}
  
#stripeSpan5{
    width: calc(100% / 3);
    bottom: 0;
    background: #1fa2ff;
}
  
#img-holder{
    /* background-image: url('../../../assets/img/enrollmentform-top-img.png');  */
    background-image: url('../../../assets/img/enrollmentform-bg.jpg'); 
    background-size: cover;
    background-position: top;
    height: 72rem;
}

img.img-animate{
    -webkit-animation: moveUpDown 2s infinite  alternate;
    animation: moveUpDown 2s infinite  alternate;
}
@keyframes moveUpDown{
    0% { transform: translateY(0); }
    100% { transform: translateY(-8px); }
}

input.ng-invalid, select.ng-invalid{border-left: 2px solid red;}
input.ng-valid, select.ng-valid{border-left: 2px solid green;}   
input:focus, select:focus{border-left: none;}