<section id="courses" class="container-fluid">
  <div id="img-holder" class="row"></div>
  <div id="title" class="container py-5">
      <p class="h3 fw-bold text-center pb-4">{{title}}</p>
      <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 g-4 pb-5">
        <div class="col" *ngFor="let c of course">
          <div class="card h-100 shadow rounded">
            <img src="{{c.image}}" class="card-img-top" alt="">
            <div class="card-body">
                <span class="badge text-bg-secondary mb-2">{{c.code}}</span>
                <h5 class="card-title">{{c.name}}</h5>
                <small class="card-text">{{c.intro}}</small>
                <!-- <small class="card-text">Course Fee: &#8377;<span>{{c.fee}}</span></small> -->
                <br>
                <div class="mt-4">
                  <a routerLink="/course" class="btn btn-sm btn-outline-primary text-center me-2" (click)="viewCourse(course)">View</a>
                  <a routerLink="/editcourse" class="btn btn-sm btn-primary text-center me-2" (click)="editCourse(course)">Edit</a>
                  <a routerLink="/deletecourse" class="btn btn-sm btn-danger text-center" (click)="deleteCourse(course)">Delete</a>    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>        
</section>