<section class="container-fluid">
   <div id="img-holder" class="row"></div>
   <div class="container mt-5 py-5">
      <div class="row justify-content-center">
         <form class="form col-lg-4 px-5 border rounded"
            #editEmployer="ngForm" (ngSubmit)="employerEdit()">
            <p class="h3 text-center fw-bold py-4">{{title}}</p>
                  
            <div class="row form-group mb-3">
               <div class="col-2">
                  <label for="name">Name</label>
               </div>
               <div class="col-10">
                  <input type="text" class="form-control" [(ngModel)]="employer.name" name="name" #name="ngModel" required />
               </div>
            </div>

            <!-- <div class="row form-group mb-3">
               <div class="col-2">
                  <label for="email">Email</label>
               </div>
               <div class="col-10">
                  <input type="email" class="form-control" [(ngModel)]="employer.email" name="email" #email="ngModel" 
                     pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required />
                  <div class="ps-2 text-secondary" style="font-size: 14px;" [class.d-none]="email.valid || email.untouched">
                     <small>Enter a valid email</small>
                  </div>
               </div>
            </div>

            <div class="row form-group mb-3">
               <div class="col-2">
                  <label for="role">Role</label>
               </div>
               <div class="col-10">
                  <input type="text" class="form-control" [(ngModel)]="employer.role" name="role" #role="ngModel" required />
               </div>
            </div> -->

            <div class="mb-4">
               <button type="submit" class="btn btn-primary" [disabled]='editEmployer.invalid'>Update</button>
            </div>
         </form>                      
      </div>
   </div>        
</section>