.form-bg{
    background-image: url('../../assets/img/studentform-bg.jpg');
    background-size: cover;
    background-position: bottom;
}
input.ng-invalid, select.ng-invalid{border-left: 2px solid red;}
input.ng-valid, select.ng-valid{border-left: 2px solid green;} 