.reg-container{
    width: 100%;
    background-color: rgb(228, 206, 175);
}
/* h3{
    margin: 0;
} */
.header{
   width: 100%;
   height: 10vh;
   display: flex;
   background-color: rgb(142, 187, 207);
   position: fixed;

}
.left-header{
    width: 50%;
    margin-left: 20px;

}
.right-header{
    width: 50%;
   margin-top: auto;
   margin-bottom: auto;
   text-align: center;
}
.form-parent-container{
    width: 100%;
    display: flex;
    background-color: aliceblue;
}
.form-container{
    width:450px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-top: 15vh;
    margin-bottom: 10vh;
   
}
#header-text{
    text-align: center;
}
.input-labels{
    margin-left: 50px;

}
.reg-input{
    width: 342px;
    margin-left: 50px;
    height:25px;
    border: 1px solid;

}
.select-reg{
    width: 350px;
    margin-left: 50px;  
    height:30px;

}
.input-container{
    width: 100%;
    height: 9vh;
    margin-bottom:10px;
}
button{
    width:200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(142, 187, 207);
    margin-left: 125px;
    color: black ;

}
a{
    text-decoration: none;
    font-weight: bolder;
}
input.ng-invalid {
    border-left: 5px solid red;
  }
input.ng-valid {
    border-left: 5px solid green;
  } 
#file.ng-valid{
    border-left: none; 
}  
#file.ng-invalid {
    border-left:none;
}
#file{
    border: none;
}
