<section class="container-fluid connect-with-us bg-gray py-4">
    <h2 class="text-center mt-4">Connect With Us</h2>

    <div class="container social-icons fs-2 text-primary text-center pb-4" style="opacity: 0.85">
        <a href=""><i class="fa fa-youtube me-5"></i></a>
        <a href=""><i class="fa fa-facebook me-5"></i></a>
        <a href=""><i class="fa fa-twitter me-5"></i></a>
        <a href=""><i class="fa fa-instagram me-5"></i></a>
        <a href=""><i class="fa fa-whatsapp"></i></a>
    </div>
    <p class="fw-light py-2 text-center">
        <i class="fa fa-map-marker text-primary h4 pe-2"></i>GF-1 Thejaswini Building, Technopark Rd, Thiruvananthapuram, Kerala 695581.
        <br>
        <small class="text-primary">ICT Academy of Kerala is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.</small>
    </p>
</section>
  
<footer class="pt-2 pb-1 text-center fw-bold">
    <p>All Rights Reserved &copy; <a class="text-primary text-decoration-none">ICT Academy of Kerala</a></p>
</footer>
