<!-- <section id="addcourse" class="container-fluid">
    <div id="img-holder" class="row"></div>
    <div id="title" class="container p-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 px-5 border rounded">
                <p class="h3 fw-bold text-center py-4">{{title}}</p>
                <form (ngSubmit)="AddCourse()">   
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">                            
                                <tr>
                                    <td>Course Code</td>
                                    <td><input type="string" class="form-control" name="ccode" [(ngModel)]="addcourse.code"></td>
                                </tr>
                                <tr>
                                    <td>Course Name</td>
                                    <td><input type="text" class="form-control" name="cname" [(ngModel)]="addcourse.name"></td>
                                </tr>
                                <tr>
                                    <td>Technology</td>
                                    <td><input type="text" class="form-control" name="technology" [(ngModel)]="addcourse.technology"></td>
                                </tr>
                                <tr>
                                    <td>Introduction</td>
                                    <td><input type="text" class="form-control" name="introduction" [(ngModel)]="addcourse.intro"></td>
                                </tr>
                                <tr>
                                    <td>Overview</td>
                                    <td><input type="text" class="form-control" name="overview" [(ngModel)]="addcourse.overview"></td>
                                </tr>
                                <tr>
                                    <td>Info</td>
                                    <td><input type="text" class="form-control" name="info" [(ngModel)]="addcourse.info"></td>
                                </tr>
                                <tr>
                                    <td>Eligibility</td>
                                    <td><input type="text" class="form-control" name="eligibility" [(ngModel)]="addcourse.eligibility"></td>
                                </tr>
                                <tr>
                                    <td>Fee</td>
                                    <td><input type="number" class="form-control" name="fee" [(ngModel)]="addcourse.fee"></td>
                                </tr>
                                <tr>
                                    <td>Count</td>
                                    <td><input type="number" class="form-control" name="count" [(ngModel)]="addcourse.count"></td>
                                </tr>
                                <tr>
                                    <td>Image</td>
                                    <td><input type="file" class="form-control" name="image" [(ngModel)]="addcourse.image"></td>
                                </tr>
                                <tr>
                                    <input class="btn btn-sm btn-primary my-2" type="submit" value="Submit">
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</section> -->