<section id="addstudent" class="container-fluid">
    <div id="img-holder" class="row"></div>
    <div id="title" class="container p-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 px-5 border rounded">
                <p class="h3 fw-bold text-center py-4">{{title}}</p>
                <form (ngSubmit)="AddStudent()">   
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">                            
                                <tr>
                                    <td>Name</td>
                                    <td><input type="string" class="form-control" name="sname" [(ngModel)]="addstudent.name"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input type="text" class="form-control" name="semail" [(ngModel)]="addstudent.email"></td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input type="string" class="form-control" name="spassword" [(ngModel)]="addstudent.password"></td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td><input type="string" class="form-control" name="phone" [(ngModel)]="addstudent.phone"></td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td><input type="text" class="form-control" name="address" [(ngModel)]="addstudent.address"></td>
                                </tr>
                                <tr>
                                    <td>Qualification</td>
                                    <td><input type="text" class="form-control" name="qualification" [(ngModel)]="addstudent.qualification"></td>
                                </tr>
                                <tr>
                                    <td>Passout</td>
                                    <td><input type="text" class="form-control" name="passout" [(ngModel)]="addstudent.passout"></td>
                                </tr>
                                <tr>
                                    <td>Skillset</td>
                                    <td><input type="text" class="form-control" name="skillset" [(ngModel)]="addstudent.skillset"></td>
                                </tr>
                                <tr>
                                    <td>Employment Status</td>
                                    <td><input type="text" class="form-control" name="employmentStatus" [(ngModel)]="addstudent.employmentStatus"></td>
                                </tr>
                                <tr>
                                    <td>Technology Training</td>
                                    <td><input type="text" class="form-control" name="technologyTraining" [(ngModel)]="addstudent.technologyTraining"></td>
                                </tr>
                                <tr>
                                    <td>Year</td>
                                    <td><input type="number" class="form-control" name="year" [(ngModel)]="addstudent.year"></td>
                                </tr>
                                <tr>
                                    <td>Course</td>
                                    <td><input type="text" class="form-control" name="course" [(ngModel)]="addstudent.course"></td>
                                </tr>
                                <tr>
                                    <td>Fee</td>
                                    <td><input type="number" class="form-control" name="fee" [(ngModel)]="addstudent.fee"></td>
                                </tr>
                                <tr>
                                    <td>ID</td>
                                    <td><input type="number" class="form-control" name="id" [(ngModel)]="addstudent.id"></td>
                                </tr>
                                <tr>
                                    <td>Image</td>
                                    <td><input type="file" class="form-control" name="image" [(ngModel)]="addstudent.image"></td>
                                </tr>
                                <tr>
                                    <td>Exit Mark</td>
                                    <td><input type="number" class="form-control" name="exitmark" [(ngModel)]="addstudent.exitmark"></td>
                                </tr>
                                <tr>
                                    <input class="btn btn-sm btn-primary my-2" type="submit" value="Submit">
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</section>
