<section id="courses" class="container-fluid">
    <div id="img-holder" class="row"></div>
    <div id="title" class="container py-5">
      <p class="display-5 text-center pb-4">Courses We Offer</p>
      <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 g-4 pb-5">
        <div class="col" *ngFor="let course of courses">
          <div class="card h-100 shadow rounded">
            <img src="{{course.img}}" class="card-img-top" alt="{{course.alt}}">
            <div class="card-body">
                <span class="badge text-bg-secondary text-capitalize mb-2">{{course.badge}}</span>
                <h5 class="card-title">{{course.title}}</h5>
                <small class="card-text">{{course.body}}</small>
                <br>
                <a routerLink="/course/{{course.id}}" class="btn btn-sm btn-outline-primary text-center mt-2">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>        
</section>