.banner{
    background-image: url('../../assets/img/course-banner.jpg');
    background-size: cover;
}
.bg-gray{background-color: #f2f4f9;}
.btn-white{background-color: #ffffff;}
a.btn-white:hover{font-weight: bold;}