<section id="course" class="container-fluid">
    <div class="row py-4"></div>
    <div class="row pt-5 pb-2 banner ps-5">
        <div class="container pt-5">
            <span class="badge text-bg-secondary text-capitalize mb-2">data science & machine learning</span>
            <p class="h2 fw-bold">PGP in Data Science & Machine Learning</p>
            <div>
                <small class="pe-3 h6">4.5/ 5</small>
                <span class="text-warning">
                    <i class="fa fa-star fs-6"></i>
                    <i class="fa fa-star fs-6"></i>
                    <i class="fa fa-star fs-6"></i>
                    <i class="fa fa-star fs-6"></i>
                    <i class="fa fa-star fs-6"></i>        
                </span>
            </div>
        </div>
    </div>
    <div class="row ps-3">
        <div class="col-lg-8 px-5 py-5 mb-5">
            <div id="course-detail">
                <div class="bg-gray rounded py-2">
                    <ul class="nav nav-pills py-1 ps-2">
                        <li id="overviewHead" class="nav-item me-2">
                            <a class="active collapsed btn btn-sm btn-white border-0 shadow" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#overviewCollapse" 
                                aria-expanded="true" aria-controls="overviewCollapse">
                                Course Overview
                            </a>
                        </li>  
                        <li id="infoHead" class="nav-item  me-2">
                            <a class="active collapsed btn btn-sm btn-white border-0 shadow" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#infoCollapse" 
                                aria-expanded="false" aria-controls="infoCollapse">Course Info</a>
                        </li>
                        <li id="reviewHead" class="nav-item">
                            <a class="active collapsed btn btn-sm btn-white border-0 shadow" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#reviewCollapse" 
                                aria-expanded="false" aria-controls="reviewCollapse">Reviews</a>
                        </li>
                    </ul>
                </div>            
                <div class="py-4">
                    <div id="overviewCollapse" class="accordion-collapse collapse show" aria-labelledby="overviewHead" data-bs-parent="#course-detail">
                        <div class="row">
                            <h4 class="pb-2">Course Overview</h4>
                            <p class="pe-5">Registration for the next batch starts on 15th Aug 2022. <br><br>
                                Machine Learning (ML) and Artificial Intelligence (AI) is transforming our world and the adaptation rate of ML/AI technologies is high. The products of the new AI revolution, like self-driven vehicles, robot assistance, and the digital disease diagnostics will affect how we live and function. ML/AI has the power to produce some of this century’s most important and revolutionary inventions as well. The demand for qualified engineers has more than doubled in recent years, and professionals who want to take a lead in research and development in AI are providing endless opportunities. Whether you’re a student, a developer, or a technology consultant - understanding ML/AI and knowing how to create real-time applications can give you an edge in your career. This program is designed to provide the learners a firm understanding of ML/AI technologies and its applications.</p>
                        </div>
                    </div>
                    <div id="infoCollapse" class="accordion-collapse collapse" aria-labelledby="infoHead" data-bs-parent="#course-detail">
                        <div class="row">
                            <h4 class="pb-2">Course Info</h4>
                            <p class="pe-5">The PGP in Data Science and Machine Learning is offered on two levels.<br>
                                Level 1: Certified Specialist in Data Science and Analytics.<br> 
                                Level 2: Certified Specialist in Machine Learning and Artificial Intelligence.<br><br>
                                Those who have successfully completed both certifications are eligible for the PGP in Data Science and Machine Learning.</p>
                        </div>
                    </div>
                    <div id="reviewCollapse" class="accordion-collapse collapse" aria-labelledby="reviewHead" data-bs-parent="#course-detail">
                        <div class="card mb-4 ps-2">
                            <div class="row">
                              <div class="col-md-2 p-4">
                                <img src="https://reactheme.com/products/html/echooling/assets/images/course-single/user4.jpg" class="img-fluid rounded-circle" alt="...">
                              </div>
                              <div class="col-md-10">
                                <div class="card-body">
                                    <span class="text-warning">
                                        <i class="fa fa-star fs-6"></i>
                                        <i class="fa fa-star fs-6"></i>
                                        <i class="fa fa-star fs-6"></i>
                                        <i class="fa fa-star fs-6"></i>
                                        <i class="fa fa-star fs-6"></i>        
                                    </span>                      
                                  <h6 class="card-title">Allen Roy</h6>
                                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                  <p class="card-text"><small class="text-muted">May 22, 2022 at 11.24 AM</small></p>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="card mb-4 ps-2">
                            <div class="row">
                              <div class="col-md-2 p-4">
                                <img src="https://reactheme.com/products/html/echooling/assets/images/course-single/user5.jpg" class="img-fluid rounded-circle" alt="...">
                              </div>
                              <div class="col-md-10">
                                <div class="card-body">
                                    <span class="text-warning">
                                        <i class="fa fa-star fs-6"></i>
                                        <i class="fa fa-star fs-6"></i>
                                        <i class="fa fa-star fs-6"></i>
                                        <i class="fa fa-star fs-6"></i>
                                    </span>                      
                                  <h6 class="card-title">Jane Samuel</h6>
                                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                  <p class="card-text"><small class="text-muted">July 9, 2022 at 6.20 PM</small></p>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>        
        <div class="col-lg-4 pe-5" style="margin-top: -6rem;">
            <div class="shadow text-center pb-4 mb-5">
                <img src="../../assets/img/card-img-1-ds.png" alt="" class="img-fluid img-thumbnail mb-4">
                <span class="bg-secondary rounded text-light px-3 py-1">&#8377; 60,000 + GST</span>
                <div class="text-start px-5 py-4">
                    <h6>This courses includes</h6>
                    <hr>
                    <p><i class="fa fa-calendar fs-6 pe-2 text-primary"></i><span>12 Months of Classes</span></p>
                    <p><i class="fa fa-clock-o fs-6 pe-2 text-primary"></i><span>250 Hours of Internship</span></p>
                    <p><i class="fa fa-laptop fs-6 pe-2 text-primary"></i><span>Hybrid Classes</span></p>
                    <p><i class="fa fa-book fs-6 pe-2 text-primary"></i><span>One Year Post Class Access</span></p>
                    <p><i class="fa fa-certificate fs-6 pe-2 text-primary"></i><span>Certificate on Completion</span></p>
                    <p><i class="fa fa-mobile fs-6 pe-2 text-primary"></i><span>Mobile and Laptop Access</span></p>
                </div>
                <a routerLink="/courses" class="btn btn-sm btn-outline-primary mb-5">Enroll Now</a>
            </div>
        </div>        
    </div>
</section>