img.img-animate{
  -webkit-animation: moveUpDown 2s infinite  alternate;
  animation: moveUpDown 2s infinite  alternate;
}
@keyframes moveUpDown{
  0% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}

input.ng-invalid, select.ng-invalid{border-left: 3px solid red;}
input.ng-valid, select.ng-valid{border-left: 3px solid green;}   
input:focus, select:focus{border-left: none;}


