#img-holder{
    background-image: url('../../assets/img/courses-banner.png'); 
    background-size: cover;
    background-position: center;
    height: 18rem;
}
.card{border: 1px solid #eeeeee;}
.card:hover{background-color: #eeeeee;}