<section id="employers" class="container-fluid">
    <div id="img-holder" class="row"></div>
    <div id="title" class="container py-5">
        <p class="h3 fw-bold text-center pb-4">{{title}}</p>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 g-4 pb-5">
          <div class="col" *ngFor="let e of employer">
            <div class="card h-100 shadow rounded">
              <div class="card-body">
                  <span class="badge text-bg-secondary mb-2">{{e.name}}</span>
                  <h5 class="card-title">{{e.email}}</h5>
                  <small class="card-text">{{e.role}}</small>
                  <br>
                  <div class="mt-4">
                    <!-- <a routerLink="/viewemployer" class="btn btn-sm btn-outline-primary text-center me-2" (click)="viewEmployer(employer)">View</a> -->
                    <a routerLink="/editemployer" class="btn btn-sm btn-primary text-center me-2" (click)="editEmployer(employer)">Edit</a>
                    <a routerLink="/deleteemployer" class="btn btn-sm btn-danger text-center" (click)="deleteEmployer(employer)">Delete</a>    
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>        
  </section>