<section id="employers" class="container-fluid">
    <div id="img-holder" class="row"></div>
    <div id="title" class="container py-5">
        <p class="h3 fw-bold text-center pb-4">{{title}}</p>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 g-4 pb-5">
          <div class="col" *ngFor="let e of employer">
            <div class="card h-100 shadow rounded">
              <div class="card-body">
                  <h6>{{e.name}}</h6>
                  <!-- <small>{{e.email}}</small>
                  <br> -->
                  <span class="badge text-bg-secondary mb-2">{{e.role}}</span>
                  <br>
                  <div class="mt-2">
                    <a routerLink="/viewemployer" class="btn btn-sm btn-outline-primary text-center me-2" (click)="viewEmployer(e._id)">View</a>
                    <a routerLink="/editemployer" class="btn btn-sm btn-primary text-center me-2" (click)="editEmployer(e._id)">Edit</a>
                    <a routerLink="/deleteemployer" class="btn btn-sm btn-danger text-center" (click)="deleteEmployer(e._id)">Delete</a>    
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>        
  </section>