<section id="banner" class="container-fluid text-white">
    <div class="row">
        <div id="banner-text" class="col-md-5 justify-content-center pb-4 ps-5">
            <h1>Build Your Career<br>With <span class="text-primary">ICTAK</span></h1>
            <p class="ps-1 lh-base">ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th of June, 2014. The organization had a humble beginning providing skill training programs to selected academic institutions. Over the years, ICTAK has grown to a prime service provider of all ICT and innovation-related training and capacity-building programs in the state.</p>
            <a routerLink="/courses" class="btn btn-sm btn-primary mb-5" *ngIf="studentCheck">Enroll Now</a>
        </div>
    </div>
</section>
<app-achievements></app-achievements>
<app-about></app-about>
<app-offerings></app-offerings>