<section class="container-fluid">
    <div id="about" class="row px-5 pb-2 my-4">
        <div class="col-lg-7 justify-content-center lh-base text-white py-2">
            <p class="h2 pt-4 pb-2">About ICT Academy of Kerala</p>
            <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improving their employability opportunities in the Industry. The Company is supported by Govt. of India, partnered by Govt. of Kerala and the IT industry.</p>
            <p class="pb-4">ICT Academy of Kerala has four operations units - Academic Operations Unit, Corporate Operations Unit, Government Operations Unit, and Retail Operations Unit. The operations units work together as a team with Administration, IT Infrastructure, Knowledge Office, Marketing, and Partner Relations to achieve the vision as an institution.</p>
        </div>
        <div class="col-lg-5 px-4">
            <img src="../../assets/img/about-img.jpg" class="img-fluid rounded-circle img-thumbnail" alt="">
        </div>
    </div>
</section>